v-card.mb-2
  v-toolbar(card)
    v-spacer

    v-btn-toggle(v-model="material.tipo" mandatory @change="materialSize")
      v-btn(value="flexible" color="red" dark outline)
        span Flexible
        //v-icon aspect_ratio
        v-icon.icon-flexible
      v-btn(value="rigido" color="red" dark  outline)
        span Rígido
        //v-icon settings_overscan
        v-icon.icon-rigido
      v-btn(value="plotter" color="red" dark  outline)
        span Plotter
        //v-icon settings_overscan
        v-icon.icon-plotter
    v-spacer
    
  v-container(grid-list-xs fluid)
  
    
    
    //FLEXIBLE
    v-layout(row wrap v-if="material.tipo=='flexible'")
      v-flex(xs6)
        v-select(:items="db.flexibles" v-model="material.flexibleElegido" box label="Ancho (cm)" item-text="`${data.item.id}, ${data.item.w}`" dense persistent-hint :hint="`${material.flexibleElegido.t}`" color="red" @change="materialSize")
          template(slot="selection" slot-scope="data") {{data.item.w}}
          template(slot="item" slot-scope="data")
            v-list-tile-content 
              v-list-tile-title(v-html="`${data.item.w} cm`")
              v-list-tile-sub-title(v-html="data.item.t")
      v-flex(xs6)
        v-text-field(v-model="material.hFlexible" label="Alto (cm)" min="5" max="10000" required type="number" box hide-details @input="materialSize" color="red")
    
    //RIGIDO
  
    v-layout(v-if="material.tipo == 'rigido'" align-center justify-center).mb-2
      
      v-select(:items="db.rigidos" v-model="material.rigidoElegido" box label="Ancho x Alto (cm)" item-text="`${data.item.w}, ${data.item.h}`" color="red" @change="materialSize")
        template(slot="selection" slot-scope="data") {{ data.item.w}} x {{data.item.h}} cm
        template(slot="item" slot-scope="data")
          v-list-tile-content
            v-list-tile-title(v-html="`${data.item.w} x ${data.item.h} cm`")
    
    v-layout(v-if="material.tipo == 'plotter'")
      v-flex(xs6 v-if="!material.guiaCorte")
        v-select(:items="db.plotters" v-model="material.plotterElegido" box label="Ancho (cm)" item-text="`${data.item.w}`" color="red" @change="materialSize")
          template(slot="selection" slot-scope="data") {{data.item.w}} cm
          template(slot="item" slot-scope="data")
            v-list-tile-content
              v-list-tile-title(v-html="`${data.item.w} cm`")
      v-flex(xs6 v-if="!material.guiaCorte")
        v-text-field(v-model="material.hPlotter" label="Alto (cm)" min="100" max="3000" required type="number" box hide-details @input="materialSize" color="red")
      
      v-flex(xs6 v-if="material.guiaCorte")
        v-text-field(value="120" label="Ancho (cm)" box hide-details @input="materialSize" color="red" disabled)
      v-flex(xs6 v-if="material.guiaCorte")
        v-text-field(value="150" label="Alto (cm)"  box hide-details @input="materialSize" color="red" disabled)
